.grid_3_1 {
  color: #0f0000;
  font-family: "Audiowide", sans-serif;
  max-width: 380px;
  max-height: 10px;
  padding-bottom: 100px;
  padding-left: 19px;
  position: absolute;
  left: 10%;
  font-size: 20px;
  padding-top: 40px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 100px;
  box-shadow: inset 0 6px 8px rgba(0, 0, 0, 0.15),
    inset 0 -6px 8px rgba(255, 255, 255, 0.9), 0 8px 12px rgba(0, 0, 0, 0.2);
}

/************************* SCROLL-WRAPPER ***********************/
.scroll-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  padding: 2rem 0;
}

.scroll-wrapper::-webkit-scrollbar {
  display: none;
}
.scroll-wrapper {
  scrollbar-width: none;
}
/************************* SCROLL-TRACK ***********************/
.scroll-track {
  display: flex;
  gap: 2rem;
  padding: 0 4rem;
}

/************************* Info ***********************/
.info-btn {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 100px;
  box-shadow: inset 0 6px 8px rgba(0, 0, 0, 0.15),
    inset 0 -6px 8px rgba(255, 255, 255, 0.9), 0 8px 12px rgba(0, 0, 0, 0.2);
  border: none;
  padding: 1rem;
  border-radius: 16px;
  cursor: pointer;
  font-family: "Audiowide", sans-serif;

  text-align: center;
}
.p {
  font-family: "Audiowide", sans-serif;
}

.info-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
/************************* CARD ***********************/
.card img {
  margin-top: 150px;
  width: 100%;
  bottom: 500%;
  height: 60%;
  object-fit: cover; /* VERY IMPORTANT */
  border-radius: 24px;
  display: block;
}
.card {
  flex: 0 0 520px; /* ALL cards same width */
  height: 680px; /* ALL cards same height */
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin: auto;
}

/*************** IMG WRAP*****************/
.image-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.image-wrap img {
  max-width: 100%;
  height: auto;
  display: block;
  justify-content: center;
}

.img_4_1 {
  padding-left: 30rem;
  padding-top: 100px;
}

p{
  font-family: monospace;
  font-size: 14PX;
  
}
